<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <title>Document</title>
</head>

<body>
  <div class="box">
    <div class="item">
      <div class="inner">Item 1</div>
    </div>
    <div class="item">
      <div class="inner">Item 2</div>
    </div>
    <div class="item">
      <div class="inner">Item 3</div>
    </div>
    <div class="item">
      <div class="inner">Item 4</div>
    </div>
    <div class="item">
      <div class="inner">Item 5</div>
    </div>
    <div class="item">
      <div class="inner">Item 6</div>
    </div>
    <div class="item">
      <div class="inner">Item 7</div>
    </div>
    <div class="item">
      <div class="inner">Item 8</div>
    </div>
    <div class="item">
      <div class="inner">Item 9</div>
    </div>
    <div class="item">
      <div class="inner">Item 10</div>
    </div>
    <div class="item">
      <div class="inner">Item 11</div>
    </div>
    <div class="item">
      <div class="inner">Item 12</div>
    </div>
    <div class="item">
      <div class="inner">Item 13</div>
    </div>
    <div class="item">
      <div class="inner">Item 14</div>
    </div>
    <div class="item">
      <div class="inner">Item 15</div>
    </div>
  </div>
  <div>
    <button class="left">left</button>
    <button class="right">right</button>

  </div>
  <script src="./index.js"></script>
</body>

</html>